
<h2 class="text-lg">
    Vendor List
</h2>

<div class="max-w-5xl mx-auto grid grid-cols-4">
    <% @vendors.each do |vendor| %>
        <%= link_to vendor do %>
            <div class="border border-blue-500">
                <img src=<%= vendor.profile_image %>>
                <p class="mx-auto"><%= vendor.name %></p>
            </div>
        <% end %>
    <% end %>
</div>