<div class="mx-auto max-w-lg">
    <div class="mx-auto flex justify-between">
        <h2 class="text-lg">
            Variant List
        </h2>
            <%= link_to "Add Variant", new_admin_variant_path, class: "px-6 py-2 bg-blue-500 text-white" %>
    </div>
    <div class="my-5">
        <table class="w-full border-collapse">
            <thead>
                <tr>
                    <th class="border p-2">Variant id</th>
                    <th class="border p-2">Link</th>
                </tr>
            </thead>
            <tbody>
                <% @variants.each do |variant| %>
                    <tr>
                        <td class="border p-2"><%= variant.id %></td>
                        <td class="border p-2"><%= link_to "show", admin_variant_path(variant) %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>