<div class="max-w-lg mx-auto">
  <h2 class="my-5 text-lg">
    Product List
    <%= link_to "Add Item", new_admin_product_path, class: "px-6 py-2 bg-blue-500 text-white" %>
  </h2>
  <table class="w-full border-collapse">
    <thead>
      <tr>
        <th class="border p-2">Name</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td class="border p-2">
            <%= link_to product.name, admin_product_path(product) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
