<div class="mx-24 py-10 flex justify-between">
  <h2 class="text-lg">
    Product List
  </h2>
</div>

<div class="max-w-5xl mx-auto grid grid-cols-4 gap-4">
  <% @products.each do |product| %>
    <div class="border border-blue-500">
      <%= link_to product do %>
        <img src="<%= product.image %>">
        <p class="mx-auto"><%= product.name %></p>
        <p class="mx-auto"><%= product.price %></p>
      <% end %>
     
    </div>
  <% end %>
</div>
